certifi
charset-normalizer
contourpy
cycler
docutils
filelock
fonttools
fsspec
id
idna
jaraco.classes
jaraco.context
jaraco.functools
Jinja2
keyring
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
mpmath
networkx
nh3
numpy
opencv-python
packaging
pandas
pillow
psutil
py-cpuinfo
Pygments
pyparsing
python-dateutil
pytz
PyYAML
readme_renderer
requests
requests-toolbelt
rfc3986
rich
scipy
seaborn
setuptools
six
sympy
torch
torchvision
tqdm
twine
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3